<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">Trip Planner App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Weather</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/exchange-rate">Exchange Rate</a>
        </li>
        <% if (user) { %>
          <% if (isAdmin) { %>
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin Panel</a>
            </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link" href="/weather-history">Weather History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/exchange-rate-history">Exchange Rate History</a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
